<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>404 Not Found - {{ $.School }} - Beryl</title>
		<style>
			body { font-family: sans-serif; background-color: beige; color: #333; margin: 0 }
			.header { display: flex; background-color: #333; color: beige }
			.header a { padding: 14px 20px; text-decoration: none; text-align: center; color: beige }
			.header a:active { color: black; background-color: beige }
			.header a:hover { color: black; background-color: white }
			.header .search { padding: 14px 20px; margin-left: auto }
			.main { max-width: 1000px; margin: 40px auto; color: #333 }
		</style>
	</head>
	<body>
		<div class="header">
			<a href="/">{{ $.School }}</a>
			<div class="search">Search</div>
		</div>
		<div class="main">
			404 Not Found
		</div>
	</body>
</html>
