<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Assignments - {{ $.Class.Name }} - {{ $.School }} - Beryl</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<div id="menu">
			<div class="left">
				<a href="/">{{ $.School }}</a>
				<a href="/class/{{ $.Class.Num }}">{{ $.Class.Name }}</a>
				<a class="thisSite" href="/class/{{ $.Class.Num }}/assignments">Assignments</a>
				<a href="/class/{{ $.Class.Num }}/discussions">Discussions</a>
				<a href="/class/{{ $.Class.Num }}/wiki">Wiki</a>
			</div>
			<div class="right">
				<a>Search</a>
			</div>
		</div>
		<div id="content">
			<hr>
			<div class="assignment">
				<a href="/class/{{ $.Class.Num }}/assignment/{{ $.Assignment.Num }}">{{ $.Assignment.Name }}</a>
				<div class="grade">{{ if $.Assignment.Graded }}{{ $.Assignment.Grade }}{{ else }}TBD{{ end }} / {{ $.Assignment.MaxGrade }}</div>
				<div class="date">Due {{ $.Assignment.DueDate }}</div>
			</div>
			<hr>
		</div>
	</body>
</html>
